*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --bg-clr:#131313;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bg-clr);
}

.carousel{
    margin: 0 auto;
    max-width: 1440px;
    width: 95vw;
    height: 200px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.carousel::before,
.carousel::after{
    content: "";
    width: 200px;
    height: 100%;
    position: absolute;
}

.carousel::before{
    background-image: linear-gradient(to right,var(--bg-clr)0,transparent 100%);
    z-index: 1;
}

.carousel::after{
    background-image: linear-gradient(to left,var(--bg-clr)0, transparent 100%);
    right: 0;
}

.carousel .gallery-slides-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    animation: slide 20s  linear infinite;
}


.gallery-slides-wrapper img {
    max-height: 100%;
    margin: 0 10px;
    object-fit: cover;
}

@keyframes slide {
    to{
      transform: translatex(-100%);
    }
}